<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row">
      <div *ngFor="let product of filterProducts">
        <div class="col">
          <!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{product.img}}>
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.price | currency: 'USD'}}</p>
              <a href="#" class="btn btn-primary">Add to card</a>
            </div>
          </div> -->
        </div>
        <product-card [product]="product" [cart]="cart"></product-card>
      </div>
    </div>
  </div>
</div>
