<div class="container">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="number" class="form-control" id="price">
      </div>
      <!-- <input id="price" type="number" class="form-control"> -->
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" type="text" class="form-control">
        <option value=""></option>
        <option *ngFor="let type of categories$ | async" [value]="type.$key">{{type.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="img">Img URL</label>
      <input id="img" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Save</button>
  </form>
</div>
