<div class="card" style='width: 20rem;' *ngIf="product.title">
  <img class="card-img-top" src={{product.img}}>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency: 'USD'}}</p>
    <div class="card-footer" *ngIf="isShowAction">

      <button class="btn btn-secondary btn-block" (click)="addToCart()" *ngIf="getQuantity()==0; else upateQuantity">
        Add tocard
      </button>
      <ng-template #upateQuantity>
        <div class="row no-gutters">
          <div class="col-2">
            <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
          </div>
          <div class="col align-self-center text-center">{{getQuantity()}}
          </div>
          <div class="col-2">
            <button class="btn btn-secondary btn-block" (click)="addToCart()">+</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
